---
# This role makes the assumption that the uploaders role has already been applied.
# The uploaders role will download the `ant` binary.
# There is no context in which you would want to use this role without using the uploaders role.
- name: copy ant_downloader.sh to remote
  ansible.builtin.template:
    src: ant_downloader.sh.j2
    dest: /home/ant1/ant_downloader.sh
    owner: ant1
    group: ant
    mode: '0775'
  become: true
  become_user: ant1

- name: ensure the ant users can write to the random_verifier metrics directory
  ansible.builtin.file:
    path: "{{ log_path }}/download_files/random_verifier/ant1/"
    state: directory
    mode: '0775'
    owner: ant1
    group: ant
    recurse: yes
  become: true

- name: ensure ant users can write to download_verifier metrics directory
  ansible.builtin.file:
    path: "{{ log_path }}/download_files/download_verifier/ant1/"
    state: directory
    mode: '0775'
    owner: ant1
    group: ant
    recurse: yes
  become: true

- name: ensure ant users can write to performance_verifier metrics path
  ansible.builtin.file:
    path: "{{ log_path }}/download_files/performance_verifier/ant1/"
    state: directory
    mode: '0775'
    owner: ant1
    group: ant
    recurse: yes
  become: true

- name: ensure ant users can write to log output path
  ansible.builtin.file:
    path: "{{ log_path }}"
    state: directory
    mode: '0775'
    owner: root
    group: ant
  become: true

- name: ensure ant users can write to downloads path
  ansible.builtin.file:
    path: "{{ downloads_path }}"
    state: directory
    mode: '0775'
    owner: root
    group: ant
  become: true

- name: Check if systemd ant_download_random_verifier service file exists
  ansible.builtin.stat:
    path: "/etc/systemd/system/ant_download_random_verifier.service"
  register: ant_download_random_verifier_stat

- name: Check if systemd ant_download_verifier service file exists
  ansible.builtin.stat:
    path: "/etc/systemd/system/ant_download_verifier.service"
  register: ant_download_verifier_stat

- name: Check if systemd ant_performance_verifier service file exists
  ansible.builtin.stat:
    path: "/etc/systemd/system/ant_performance_verifier.service"
  register: ant_performance_verifier_stat

- name: create ant_download_random_verifier systemd service file
  ansible.builtin.template:
    src: ant_download_random_verifier.service.j2
    dest: "/etc/systemd/system/ant_download_random_verifier.service"
    owner: ant1
    group: ant
    mode: '0644'
  become: true
  when: not ant_download_random_verifier_stat.stat.exists

- name: create ant_download_verifier systemd service file
  ansible.builtin.template:
    src: ant_download_verifier.service.j2
    dest: "/etc/systemd/system/ant_download_verifier.service"
    owner: ant1
    group: ant
    mode: '0644'
  become: true
  when: not ant_download_verifier_stat.stat.exists

- name: create ant_performance_verifier systemd service file
  ansible.builtin.template:
    src: ant_performance_verifier.service.j2
    dest: "/etc/systemd/system/ant_performance_verifier.service"
    owner: ant1
    group: ant
    mode: '0644'
  become: true
  when: not ant_performance_verifier_stat.stat.exists

- name: enable ant_download_random_verifier service
  ansible.builtin.systemd:
    name: ant_download_random_verifier
    enabled: yes
  become: true

- name: start ant_download_random_verifier service
  ansible.builtin.systemd:
    name: ant_download_random_verifier
    state: started
  become: true
  when: start_random_verifier | default(false) | bool

- name: enable ant_download_verifier service
  ansible.builtin.systemd:
    name: ant_download_verifier
    enabled: yes
  become: true

- name: start ant_download_verifier service
  ansible.builtin.systemd:
    name: ant_download_verifier
    state: started
  become: true
  when: start_delayed_verifier | default(false) | bool

- name: enable ant_performance_verifier service
  ansible.builtin.systemd:
    name: ant_performance_verifier
    enabled: yes
  become: true

- name: start ant_performance_verifier service
  ansible.builtin.systemd:
    name: ant_performance_verifier
    state: started
  become: true
  when: start_performance_verifier | default(false) | bool
