[Unit]
Description=Safe Uploader %i
After=network.target

[Service]
User=safe%i
ExecStart=/home/safe%i/upload-random-data.sh {{ genesis_multiaddr }}
Restart=always
WorkingDirectory=/home/safe%i

[Install]
WantedBy=multi-user.target
