resources/ansible/inventory/.*
resources/ansible/extra_vars/.*
resources/**/.terraform/
resources/test-data/
.env
/target
/logs
resources/safe
*.orig
*.key
*.csr
.DS_Store
**/__pycache__/

/artifacts/
/deploy/
