[Unit]
Description=EVM Node
After=network.target

[Service]
User=safe
Environment=ANVIL_IP_ADDR={{ ansible_default_ipv4.address }}
ExecStart=/usr/local/bin/{{ bin_name }}
Restart=always

[Install]
WantedBy=multi-user.target