[Unit]
Description=EVM Node
After=network.target

[Service]
User=ant
Environment=ANVIL_IP_ADDR={{ ansible_default_ipv4.address }}
Environment=ANVIL_PORT=61611
ExecStart=/usr/local/bin/{{ bin_name }}
Restart=always

[Install]
WantedBy=multi-user.target
