[Unit]
Description=Ant Network Download Verifier
After=network.target

[Service]
{% if evm_network_type == "evm-custom" %}
Environment="RPC_URL={{ evm_rpc_url }}"
Environment="PAYMENT_TOKEN_ADDRESS={{ evm_payment_token_address }}"
Environment="MERKLE_PAYMENTS_ADDRESS={{ evm_merkle_payments_address }}"
Environment="DATA_PAYMENTS_ADDRESS={{ evm_data_payments_address }}"
{% elif evm_network_type == "evm-arbitrum-sepolia" %}
Environment="EVM_NETWORK=arbitrum-sepolia"
{% elif evm_network_type == "evm-arbitrum-one" %}
Environment="EVM_NETWORK=arbitrum-one"
{% endif %}
User=ant1
{% if network_id == "1" %}
ExecStart=/home/ant1/ant_downloader.sh --mode verifier
{% else %}
ExecStart=/home/ant1/ant_downloader.sh --mode verifier {% if peer is defined %}--peer "{{ peer }}" {% endif %} {% if network_contacts_url is defined %}--network-contacts-url "{{network_contacts_url}}" {% endif %} {% if network_id is defined %}--network-id "{{network_id}}" {% endif %}
{% endif %}

Restart=always
WorkingDirectory=/home/ant1

[Install]
WantedBy=multi-user.target
