filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /home/safe/.local/share/safe/node/**/safenode.log
  fields:
    log_type: safenode-log
    testnet_name: {{ testnet_name }}
- type: log
  enabled: true
  paths:
    - /home/safe/.local/share/safe/node/resource-usage.log
  fields:
    log_type: resource-usage-log
    testnet_name: {{ testnet_name }}

processors:
  - add_cloud_metadata: ~
  - add_host_metadata: ~

output.logstash:
  hosts: ["{{ logstash_hosts|join('", "') }}"]
  ssl.certificate_authorities: ["{{ ssl_public_certs_path }}/logstash-public.crt"]
