---
# We always build the faucet binary, but safenode only applies for using a custom branch.
- name: build binaries
  hosts: all
  become: False
  roles:
    - {
        role: build_safe_network_binary,
        bin_name: "autonomi_cli",
        when: custom_bin == "true"
      }
    - {
        role: build_safe_network_binary,
        bin_name: "safenode",
        when: custom_bin == "true"
      }
    - {
        role: build_safe_network_binary,
        bin_name: "safenode_rpc_client",
        when: custom_bin == "true"
      }
    - {
        role: build_safe_network_binary,
        bin_name: "safenode-manager",
        when: custom_bin == "true"
      }
    - {
        role: build_safe_network_binary,
        bin_name: "safenodemand",
        when: custom_bin == "true"
      }