---
- name: fetch static upload results from client VMs
  hosts: all
  ignore_unreachable: yes
  max_fail_percentage: 10
  tasks:
    - name: set timestamp fact
      set_fact:
        timestamp: "{{ lookup('pipe', 'date +%Y_%m_%d_%H_%M_%S') }}"
      run_once: yes

    - name: find all files under uploads directory
      find:
        paths: "/mnt/client/log/uploads"
        recurse: yes
        file_type: file
      register: upload_files

    - name: fetch all files from uploads directory
      fetch:
        src: "{{ item.path }}"
        dest: "../../static-upload-results/{{ env_name | replace('-', '_') }}-{{ hostvars[groups['all'][0]]['timestamp'] }}/{{ inventory_hostname }}/{{ item.path | regex_replace('^/mnt/client/log/uploads/', '') }}"
        flat: yes
      with_items: "{{ upload_files.files }}"
      when: upload_files.files | length > 0
      ignore_errors: yes

    - name: export ant_static_uploader service logs
      shell: journalctl -u ant_static_uploader --no-pager > /tmp/service_log
      ignore_errors: yes

    - name: fetch ant_static_uploader service log
      fetch:
        src: "/tmp/service_log"
        dest: "../../static-upload-results/{{ env_name | replace('-', '_') }}-{{ hostvars[groups['all'][0]]['timestamp'] }}/{{ inventory_hostname }}/service_log"
        flat: yes
      ignore_errors: yes
