---
- name: fetch scan repair results from client VMs
  hosts: all
  ignore_unreachable: yes
  max_fail_percentage: 10
  tasks:
    - name: set timestamp fact
      set_fact:
        timestamp: "{{ lookup('pipe', 'date +%Y_%m_%d_%H_%M_%S') }}"
      run_once: yes

    - name: find all scan repair CSV files
      find:
        paths: "/home/ant1/"
        patterns:
          - "chunk_badlist.csv"
          - "chunk_whitelist.csv"
          - "network_scan_repair_*.csv"
          - "initial_repair_*.csv"
      register: scan_repair_files

    - name: fetch scan repair CSV files
      fetch:
        src: "{{ item.path }}"
        dest: "../../scan-repair-results/{{ env_name | replace('-', '_') }}-{{ hostvars[groups['all'][0]]['timestamp'] }}/{{ inventory_hostname }}/"
        flat: yes
      with_items: "{{ scan_repair_files.files }}"
      when: scan_repair_files.files | length > 0
      ignore_errors: yes

    - name: export ant_scan_repair service logs
      shell: journalctl -u ant_scan_repair --no-pager > /tmp/service_log
      ignore_errors: yes

    - name: fetch ant_scan_repair service log
      fetch:
        src: "/tmp/service_log"
        dest: "../../scan-repair-results/{{ env_name | replace('-', '_') }}-{{ hostvars[groups['all'][0]]['timestamp'] }}/{{ inventory_hostname }}/service_log"
        flat: yes
      ignore_errors: yes
