---
- name: fetch logs from remote machines
  hosts: all
  ignore_unreachable: yes
  max_fail_percentage: 10
  tasks:
    # Due to the logs being continually written to, they must first be copied to a temp directory.
    # Otherwise the `fetch` task will produce checksum errors.
    - name: create temporary directory for logs
      command: mktemp -d
      register: temp_dir

    - name: copy logs to temporary directory
      shell: find /home/safe/.local/share/safe/node/ -name "safenode.log" -o -name "safenode.log*" -o -name "*.log" -exec cp {} {{ temp_dir.stdout }} \;

    - name: retrieve list of log files from temporary directory
      shell: find {{ temp_dir.stdout }} -name "safenode.log" -o -name "safenode.log*" -o -name "*.log"  # -o -name "*.cash_note"
      register: find_result
      when: resources_only == "false"

    - name: retrieve list of resource.log files from temporary directory
      shell: find {{ temp_dir.stdout }} -name "resource-usage.log"
      register: find_result_resource_only
      when: resources_only == "true"

    - name: fetch each log file
      fetch:
        src: "{{ item }}"
        dest: "../../logs/{{env_name}}/"
        flat: no
      with_items: "{{ find_result.stdout_lines }}"
      when: resources_only == "false"

    # - name: fetch resource file
    #   fetch:
    #     src: "{{ item }}"
    #     dest: "../../logs/{{env_name}}/"
    #     flat: no
    #   with_items: "{{ find_result_resource_only.stdout_lines }}"
    #   when: resources_only == "true"


    # - name: copy heaptracks to temporary directory
    #   shell: cp -r /root/* {{ temp_dir.stdout }}

    # - name: retrieve list of heaptrack files from temporary directory
    #   shell: find {{ temp_dir.stdout }} -name "heaptrack*"
    #   register: find_result_heaptrack

    # - name: fetch each heaptrack
    #   fetch:
    #     src: "{{ item }}"
    #     dest: "../../logs/{{env_name}}/"
    #     flat: no
    #   with_items: "{{ find_result_heaptrack.stdout_lines }}"

    - name: remove temporary directory
      command: rm -rf {{ temp_dir.stdout }}

- name: reorganise local log files
  hosts: localhost
  max_fail_percentage: 10
  ignore_unreachable: yes
  tasks:
    - name: reorganise local log files
      command: python3 ../scripts/reorganise_logs.py "{{ env_name }}"
