---
- name: copy logstash certificate to nodes
  hosts: all
  become: False
  tasks:
    - name: copy public logstash certificate to node
      copy:
        src: logstash-{{ logstash_stack_name }}-public.crt
        dest: /tmp/logstash-{{ logstash_stack_name }}-public.crt
        mode: 0644

- name: deploy safenode to remaining nodes
  hosts: all
  become: False
  vars:
    is_genesis: False
  roles:
    - role: prerequisites
      become: True
    - {
        role: format_disk,
        become: True,
        block_device: "{{ block_device }}",
        mount_info:
          { name: "{{ node_data_mount_path }}", owner: "root", group: "root", mode: 0755 },
        when: provider == "aws"
      }
    - node
    - role: resource_usage
      become: True
    - role: filebeat-config
      become: True
  tasks:
    # Something is wrong with the journal service on Ubuntu that causes no
    # output to be produced when running `journalctl`. The solution seemed
    # to be restarting the service.
    - name: restart systemd-journald
      become: True
      ansible.builtin.systemd:
        name: systemd-journald
        state: restarted
        enabled: yes
