[Unit]
Description=Safe node RPC client Service

[Service]
ExecStart={{ node_archive_dest_path }}/safenode_rpc_client \
  {{ node_rpc_ip }}:{{ node_rpc_port }} \
  transfers {{ node_cash_notes_dir_path }}
StandardOutput=journal
StandardError=inherit
User=safe

[Install]
WantedBy=multi-user.target
