[Unit]
Description=Safe Node %I

[Service]
WorkingDirectory=/home/safe
{% if is_genesis %}
ExecStart={{ node_archive_dest_path }}/safenode \
  --port {{ node_port }} \
  --rpc {{ node_rpc_ip }}:{{ node_rpc_port }}
{% else %}
ExecStart={{ node_archive_dest_path }}/safenode \
  --peer {{ genesis_multiaddr }} \
  --rpc {{ node_rpc_ip }}:{{ node_rpc_port }}
{% endif %}
User=safe
KillMode=process


[Install]
WantedBy=multi-user.target
