[Unit]
Description=Ant Data Loss Tester
After=network.target

[Service]
Environment="CHUNK_DOWNLOAD_BATCH_SIZE=16"
Environment="EVM_NETWORK=arbitrum-one"
Environment="PYTHONUNBUFFERED=1"
User=ant1
ExecStart=/home/ant1/ant_data_retrieval.py --csv-path /home/ant1/prod.csv --max-retries {{ max_retries }}
Restart=always
WorkingDirectory=/home/ant1

[Install]
WantedBy=multi-user.target
